<div class="container-fluid pl-5 pr-5 main" >
  <div class="row">
      <div class="col-2">
          Following
          <section *ngFor="let blog of blogs">
              <img src="{{ blog.photo }}">
              <span class="details">{{ blog.fullname }}</span>
          </section>
        </div>
    <div class="col">
      Blogs
      <div class="container-fluid d-flex blog mt-3 mb-3" *ngFor="let blog of blogs">
        
        <div (click)="sendData(blog)" class="details">
            
            
                  <section class="blog-top">
                      <div>{{ blog.date.substr(0,10) }}</div>
                      <img style="height: 50px;width: 50px; object-fit: containng;" src="{{ blog.creater.photo }}">
                      <div>{{ blog.creater.fullname }}</div>
                      
                  </section>
                
                <hr>
                {{ blog.topic }}
                <hr>
            <span class="details mb-3"> {{ blog.content }} </span>    
        </div>
    </div>
    </div>
   
  </div>
</div>
 