.details {
  width: 100%;
  min-width: 100%;
}
.blog {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 3%;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.blog-top {
  justify-content: space-between;
  display: flex;
  // overflow: auto;
  // float: left;
}
.comment {
  margin-left: 2%;
  background-color: white;
}
.likeClass {
  color: blue;
}
.pointer {
  cursor: pointer;
}
