.back img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}
.photo img{
    height: 200px;
    width: 200px;
}
.small-info{
    padding: 5%;
    justify-content: space-evenly;
}
.blog{
    border: 2px solid black;
    border-radius: 4px;
}
.pointer{
    cursor: pointer;
}