<p>create-blog works!</p>
<div class="container">
  <div class="form-group">
    <label for="topic"><i class="fa fa-sticky-note" aria-hidden="true"></i><span class="ml-2"> Topic</span> </label>
    <input
      type="text"
      class="form-control"
      name="topic"
      id=""
      aria-describedby="helpId"
      placeholder="Topic"
      [(ngModel)]="blog.topic"
    />
    <small id="helpId" class="form-text text-muted"
      >Try to keep short topic length</small
    >
  </div>
  <div class="form-group">
    <label for="topic"><i class="fa fa-sticky-note" aria-hidden="true"></i><span class="ml-2"> Category</span> </label>
    <input
      type="text"
      class="form-control"
      name="category"
      id=""
      aria-describedby="helpId"
      placeholder="Category"
      [(ngModel)]="blog.category"
    />
  </div>
  <div class="form-group">
    <label> <i class="fa fa-align-justify" aria-hidden="true"> </i> <span class="ml-2">Blog</span> </label>
    <textarea class="form-control content" name="content" [(ngModel)]="blog.content"></textarea>
  </div>
  <div class="form-group">
    <i class="fa fa-lock" aria-hidden="true"></i>  Private   <input class=" ml-4 form-check-input position-static" type="checkbox" value="1" aria-label="..." [(ngModel)]="blog.pr">
  </div>
  {{ blog.pr }}
  <div class="bottom-btn">
    <button class="btn btn-outline-success" (click)="create()">Submit</button>
    <button class="btn btn-outline-danger" [routerLink]="['/home']" routerLinkActive="router-link-active" >Cancel</button>
  </div>
 
</div>
